.mainDiv {
    height: 912px;
    max-height: 1080px;
    background-color: #002a55;
    // background-image: url("../../../assets/loginImage/106488-black-and-blue-abstract.jpg");
}

.loginDiv {
    // background-color: skyblue;
    padding: 20px;
}

.loginDiv1 {
    height: 500px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.TextChange {
    padding: 40px;
}

.imgTag {
    width: 100%;
    height: 700px;
}

.inputLogDiv {
    margin: 20px;
    margin-top: 33px;
    margin-bottom: 0px;
    margin-left: 44px;
}

.inputLog {
    font-size: 25px;
    font-weight: 600;
    color: rgb(33, 77, 197);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

span {
    color: rgb(36, 170, 211);
}

.mtLogin {
    font-size: 18px;
}

mat-button {
    background-color: skyblue !important;
    border-radius: 10px;
}

.oMatLogin {
    margin-top: 20px;
}

.otherMtLogin {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.divOlogin {
    margin-top: 20px;
}


.gimg{
    width: 50%;
}