<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h4 class="example-spacer">{{ userData.email }}</h4>
        <button mat-button>Projects</button>
        <button mat-button>What I Do</button>
        <mat-icon (click)="settingFunc()">settings</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row">
    <div class="grid1" fxFlex="50">
        <img class="captimg" src="../../../assets/home_page/captian.jpg" alt="">
    </div>
    <div class="grid2" fxFlex="50">
        <h2 fxLayoutAlign="center center">Captain America</h2>
        <p class="captText">This is Captain America</p>
    </div>
</div>

<div fxLayout="row">
    <div class="grid2" fxFlex="50"></div>
    <div class="grid1" fxFlex="50"></div>
</div>


<div fxLayout="row">
    <div class="grid1" fxFlex="50"></div>
    <div class="grid2" fxFlex="50"></div>
</div>