.example-spacer {
    flex: 1 1 auto;
}
.photoImg {
    object-fit: contain;
}

.captimg {
    width: 100%;
    height: auto;
    border-radius: 120px;
}

.grid1 {
    // background-color: cadetblue;
    height: auto;
}

.grid2 {
    // background-color: brown;
    height: auto;
}

.captText {
    text-align: center;
}
