<div class="usrEdit" fxLayoutAlign="center center">
    <p class="usrPTag">User <span>Registration</span> </p>
</div>
<form name="requestForm" [formGroup]="registerform" (ngSubmit)="onSubmit();">
    <ly-grid container [spacing]="16">
        <ly-grid item col="6 6@XSmall@Small">
            <ly-field appearance="outlined" [lyWidth]="1">
                <input lyNativeControl type="text" formControlName="firstname">
                <ly-label>First Name</ly-label>
            </ly-field>
        </ly-grid>
        <ly-grid item col="6 6@XSmall@Small">
            <ly-field appearance="outlined" [lyWidth]="1">
                <input lyNativeControl type="text" formControlName="lastname">
                <ly-label>Last Name</ly-label>
            </ly-field>
        </ly-grid>
    </ly-grid>

    <ly-grid container [spacing]="16">
        <ly-grid item col="6 6@XSmall@Small">
            <ly-field appearance="outlined" [lyWidth]="1">
                <input lyNativeControl type="text" value="Last Name" formControlName="salutation">
                <ly-label>Salutation</ly-label>
            </ly-field>
        </ly-grid>

        <ly-grid item col="6 6@XSmall@Small">
            <ly-field appearance="outlined" [lyWidth]="1">
                <input lyNativeControl type="text" value="Last Name" formControlName="user_name">
                <ly-label>User Name</ly-label>
            </ly-field>
        </ly-grid>
    </ly-grid>

    <ly-grid container [spacing]="16">
        <ly-grid item col="6 6@XSmall@Small">
            <ly-field appearance="outlined" [lyWidth]="1">
                <input lyNativeControl type="text" formControlName="email">
                <ly-label>Email</ly-label>

            </ly-field>
        </ly-grid>
        <ly-grid item col="6 6@XSmall@Small">
            <ly-field appearance="outlined" [lyWidth]="1">
                <input lyNativeControl type="text" formControlName="contact_no">
                <ly-label>Contact No</ly-label>
            </ly-field>
        </ly-grid>
    </ly-grid>

    <ly-grid container [spacing]="16">
        <ly-grid item col="6 6@XSmall@Small">
            <ly-field appearance="outlined" [lyWidth]="1">
                <input lyNativeControl type="text" formControlName="mobile_no">
                <ly-label>Mobile</ly-label>
            </ly-field>
        </ly-grid>
        <ly-grid item col="6 6@XSmall@Small">
            <ly-field appearance="outlined" [lyWidth]="1">
                <input lyNativeControl type="password" formControlName="password">
                <ly-label>Password</ly-label>
            </ly-field>
        </ly-grid>
    </ly-grid>

    <button type="submit" ly-button raised bg="primary">Registration</button>
</form>